
.component-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-width: 270px;
    scroll-snap-align:center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .title-container {
    width: 100%;
    background-color: #cecaca;
    border-radius: 5px 5px 0 0;
    padding: 10px 0;
    margin-bottom: 10px;
    overflow: hidden;
    color: white;
    background-image: linear-gradient(
  180deg,
  hsl(207deg 45% 43%) 0%,
  hsl(196deg 41% 43%) 50%,
  hsl(184deg 38% 43%) 100%
);
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  
  .photo-container img{
    width: 50%;
    object-fit: cover;
  }

  .details-container {
    text-align: center;
    padding: 10px;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .slider-container {
    margin-bottom: 10px;
    width: 100%;
    pointer-events: auto;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="range"] {
    appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #374766;
    cursor: pointer;
  }
  
  input[type="range"]:hover {
    opacity: 1;
  }
  
  input[type="number"] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 33%;
    margin: 5px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-color: #374766;
  }
  
  .add-btn {
    padding: 10px 20px;
    width: 70%;
    background-color: #4969A7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .add-btn:hover {
    background-color: rgb(1, 72, 148);
  }