.App {
  text-align: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.header {
  position: relative;
  margin: 0 0  20px 0;
  padding: 15px 0;
  background-image: linear-gradient(
  180deg,
  hsl(220deg 30% 84%) 0%,
  hsl(208deg 32% 83%) 15%,
  hsl(199deg 35% 83%) 44%,
  hsl(192deg 37% 82%) 76%,
  hsl(186deg 39% 81%) 100%
);
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header > * {
  padding: 0;
  margin: 0;
}



.search-bar input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.search-bar input:focus {
  width: 350px;
  outline: none;
  border: 2px solid #374766;
}

.items-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin:20px 0;
  padding:0 200px;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
}

button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
  box-shadow: none;
}

.clear-btn {
  background-color: #E71010;
}

.clear-btn:hover {
  background-color: #CE1F1F;
}

.calc-btn {
  background-color: #1bb53d;
}

.calc-btn:hover {
  background-color: #148922;
}

.download-btn {
  background-color: #1bb53d;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.download-btn:hover {
  background-color: #148922;
}

.table-container {
  position: relative;
  width: auto;
  overflow-x: auto;
  text-align: center;
}

.table-container table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 5px auto;
}

.table-container th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.table-container td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-container tbody tr:nth-child(even),
.table-container tbody tr:hover {
  background-color: #f9f9f9;
}

.table-container table svg {
  background-color: rgb(222, 24, 24);
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.table-container table svg:hover {
  background-color: #b52c2c;
}

  
  .logo-loader {
    position: relative;
    margin: 20px auto;
    width: 65px;
    height: 117px;
    
  }
  .logo-loader:before,
  .logo-loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #ff8001;    
    box-shadow: 0 0 0 50px;
    clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
  }
  .logo-loader:after {
    animation: l8 1s infinite;
    transform: perspective(300px) translateZ(0px)
  }
  
  .text-loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    margin: 3px auto;
    font-size: 15px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .text-loader:before {
    content:"Calculating Units..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}} 
    @keyframes l8 {
      to {transform:perspective(300px) translateZ(180px);opacity:0}
    }

    @media screen and (min-width: 450px) {
      .items-container {
        padding:0;
      }
      
    }