.App {
  text-align: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.header {
  position: relative;
  margin: 0;
  padding: 15px 0;
  background-color: #f3f3f3;
}

.header > * {
  padding: 0;
  margin: 0;
}

.search-bar input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.items-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn {
  background-color: #e21111;
}

.clear-btn:hover {
  background-color: #b90c0c;
}

.calc-btn {
  background-color: #1bb53d;
}

.calc-btn:hover {
  background-color: #148922;
}

.download-btn {
  background-color: #1bb53d;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.download-btn:hover {
  background-color: #148922;
}

.table-container {
  position: relative;
  width: auto;
  overflow-x: auto;
  text-align: center;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 5px auto;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even),
tbody tr:hover {
  background-color: #f9f9f9;
}

table svg {
  background-color: rgb(222, 24, 24);
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

table svg:hover {
  background-color: #b52c2c;
}

.loader-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000017;
  }
  
  .logo-loader {
    position: relative;
    margin: 20px auto;
    width: 65px;
    height: 117px;
    
  }
  .logo-loader:before,
  .logo-loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #ff8001;    
    box-shadow: 0 0 0 50px;
    clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
  }
  .logo-loader:after {
    animation: l8 1s infinite;
    transform: perspective(300px) translateZ(0px)
  }
  
  .text-loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    margin: 3px auto;
    font-size: 15px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .text-loader:before {
    content:"Calculating Units..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}} 
    @keyframes l8 {
      to {transform:perspective(300px) translateZ(180px);opacity:0}
    }